.login {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 120px;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 4px;
}

.login__container>h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container>form>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.login__container>form>div>label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.login__container>form>div>input {
  height: 30px;
  padding: 3px 7px;
  background-color: white;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.login__signInButton {
  background: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}

.login__signInButton:hover {
  background: #ddb347;
}

.login__container>p {
  margin-top: 15px;
  font-size: 12px;
}

.login__registerButton {
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  cursor: pointer;
}

.login__registerButton:hover {
  background-color: #f3f3f3;
}

.error {
  color: #c40000;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #ffebee;
  border-radius: 3px;
  border: 1px solid #ffcdd2;
}